future==1.0.0
numpy==1.26.4
pandas==2.2.2
pure-sasl==0.6.2
PyHive==0.7.0
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
slack_sdk==3.37.0
thrift==0.22.0
thrift-sasl==0.4.3
tzdata==2025.2
xlsxwriter==3.2.9
